body{
  font-family: Arial;
  background:#f4f4f4;
  display:flex;
  justify-content:center;
  height:98.31vh;
  align-items:center;
  text-align:center;
  background:linear-gradient(rgba(27, 149, 158, 0.4),rgba(0, 0, 0, 0.4))
}

.box{
  background:white;
  padding:40px;
  border-radius:10px;
  width:350px;
}

h1{
  color:#2c7a7b;
}

p{
  font-size:18px;
}

.btn{
  display:inline-block; /* meme ligne que le texte */
  margin-top:20px;
  padding:12px 20px;
  background:#2c7a7b;
  color:white;
  text-decoration:none;
  border-radius:8px;
  transition:0.2s;
}

.btn:hover{
  background:#1f5d5e;
}
